.wrapper {
  padding: 16px;
  background-color: #F8F9FA;
  width: 100%;
  display: flex;


  .leftBox{
    width: 100%;
    flex: 1 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //gap: 7px;
    overflow: hidden;
    max-height: 52px;
    &.show{
      max-height: 100%;
    }
  }
  .rightBox{
    flex: 0 0 40px;
    width: 40px;
  }

}

.folder{
  margin-bottom: 16px;
  display: flex;
}

.folderWrapper {
  width: 180px;
  height: 52px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  background-color: #fff;

  &.isActive{
    background-color: #eff2ff;
    border: 1.5px solid rgba(92, 128, 255, 1)
  }
}

.addFolderWrapper {
  width: 180px;
  height: 52px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  background-color: #fff;
}

.sortableWrapper{
  padding: 7px;
}

.sortableLine {
  height: 100%;
  width: 2px;
  //border: 1px solid #5856D6;
  background-color: #5856D6;
  box-shadow: 0px 0px 0px 1px rgba(88, 86, 214, 0.2);

}