.table {
  width: 100%;
  border: 1px solid;

  border-collapse: collapse;
  th, td {
    border: 1px solid;
    height: 44px;
  }

  td{
    //user-select: none;
  }
}



.folderWrapper {
  width: 180px;
  height: 52px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  background-color: #fff;
}
